# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

cache/*
data/*
genes.gtf
polyester_manuscript_cache/*
polyester_manuscript_files/*
ten_genes.gtf
ten_genes_experiment/alignments/
ten_genes_experiment/alignments_bias/
ten_genes_experiment/reads/*
ten_genes_experiment/reads_bias/*
ten_genes_experiment/scripts_and_logs
ten_genes_experiment/*.zip
de_experiment/reads/*
de_experiment/alignments/*
figure/*
fpkm.rda
cov.rda
GCbias.R
NA*/*.bam*
polyester_manuscript.md
chr22.gtf
merged.gtf
*.pdf
*.png
coverage_plots.zip
Homo_sapiens
sim_info.txt
data_sim/abundances
data_sim/abundances_post